.controller-events {
  // background-image: image-url('theme/bg.jpg');
  // background-size: contain;
  background-color: rgb(35, 43, 54);
}

.new-event {
  margin-top: 200px;
}

.event-show {
  margin-top: 100px;
}
